<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="framework-web" verbose="2">

    <listeners>
        <listener class-name="framework.listeners.MdcTestListener"/>
    </listeners>

    <test name="ui-login">
        <classes>
            <class name="tests.ui.shop.ShopTest"/>
        </classes>
    </test>

</suite>